body {
    padding-top: 79px;
    padding-bottom: 79px;
}
.nav-item  > a{
    margin-bottom: -4px;
}
#sidebar {
    margin-top: +25px;
}
.card {
    border-top-style: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}