<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
    />
  </head>
  <body>
    <!-- Content -->
    
    <a data-fancybox="gallery" data-slideshow-speed="1000" href="/img/foldersImages/img11.JPG" class="fancybox">
                        <img  hspace="5" vspace="5"  src="/img/foldersImages/folderWorldSkills.png"
                            width="240" class="m1"  

                            >  
    </a>
    <a data-fancybox="gallery" href="/img/foldersImages/img11.JPG" class="fancybox" data-slideshow-speed="1000">
                        <img  hspace="5" vspace="5"  src="/img/foldersImages/folderWorldSkills.png"
                            width="240" class="m1" >  
    </a>
    <a data-fancybox="gallery" href="/img/foldersImages/img11.JPG" class="fancybox" data-slideshow-speed="1000">
                        <img  hspace="5" vspace="5"  src="/img/foldersImages/folderWorldSkills.png"
                            width="240" class="m1" >  
    </a>
    <a data-fancybox="gallery" href="/img/foldersImages/img11.JPG" class="fancybox" data-slideshow-speed="1000">
                        <img  hspace="5" vspace="5"  src="/img/foldersImages/folderWorldSkills.png"
                            width="240" class="m1" >  
    </a>
    
    <div class="row">
<div class="col-sm-4 mb-3">
<a class="js-fancybox u-media-viewer" href="javascript:;" data-src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" data-fancybox="fancyboxGallery9" data-caption="Bookworm in frames - image #01" data-speed="300" data-is-slideshow-auto-start="true">
<img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
<span class="u-media-viewer__container">
<span class="u-media-viewer__icon">
<span class="fas fa-plus u-media-viewer__icon-inner"></span>
</span>
</span>
</a>
</div>
<div class="col-sm-4 mb-3">
<a class="js-fancybox u-media-viewer" href="javascript:;" data-src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" data-fancybox="fancyboxGallery9" data-caption="Bookworm in frames - image #02" data-speed="300" data-is-slideshow-auto-start="true">
<img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
<span class="u-media-viewer__container">
<span class="u-media-viewer__icon">
<span class="fas fa-plus u-media-viewer__icon-inner"></span>
</span>
</span>
</a>
</div>
<div class="col-sm-4 mb-3">
<a class="js-fancybox u-media-viewer" href="javascript:;" data-src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" data-fancybox="fancyboxGallery9" data-caption="Bookworm in frames - image #03" data-speed="300" data-is-slideshow-auto-start="true">
<img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
<span class="u-media-viewer__container">
<span class="u-media-viewer__icon">
<span class="fas fa-plus u-media-viewer__icon-inner"></span>
</span>
</span>
</a>
</div>
</div>
    
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    
    
    
    <script>
    Fancybox.bind("[data-fancybox]", {
    	  Image: {
    	    zoom: false,
    	  },
    	});
    
    setInterval(function() {
        $('.fancybox').trigger('click');
    }, 7000);
    </script>
  </body>
</html>