<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Фотогалерея</title>
    <head th:replace="commons::head"></head>
    
  <style>
    .imgL { position: absolute;  visibility: none;/* other styles, BG img etc */     }
    
    body {
    background-image: url(/img/background.jpg); /* Путь к фоновому изображению */
   background-position: contain;
    background-size: cover;   
   /* overflow: hidden; */
    }
    ::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
    }
    
    html {
    -ms-overflow-style: none;  /* IE 10+ */
    /* scrollbar-width: none;  */
   /* overflow:  hidden; */
    }
  </style>
    
  <style>
   .img-fluid{
    transition: 1s;
    }
   .img-fluid:hover{
    transform: scale(1.1);
    }
  </style>
    
   <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" th:href="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/font-awesome/css/fontawesome-all.min.css}">
  <link rel="stylesheet" th:href="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/animate.css/animate.min.css}">
  <link rel="stylesheet" th:href="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/hs-megamenu/src/hs.megamenu.css}">
  <link rel="stylesheet" th:href="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}">
  <link rel="stylesheet" th:href="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/fancybox/jquery.fancybox.css}">
  <link rel="stylesheet" th:href="@{/js/Projects/Store.Web/Store.Web/wwwroot/documentation/assets/vendor/jquery-ui/themes/base/jquery-ui.min.css}">
  <link rel="stylesheet" th:href="@{/js/Projects/Store.Web/Store.Web/wwwroot/documentation/assets/vendor/prism/prism.css}">
  <link rel="stylesheet" th:href="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/css/theme.css}">
  <link rel="stylesheet" th:href="@{/js/Projects/Store.Web/Store.Web/wwwroot/documentation/assets/css/docs.css}">
    
    <body style="padding: 0px">
    
    <!-- 
    <h1 th:text="${dirAndSize.listOfNumbers[2]}">fff</h1>
     -->
    
<!-- All -->

<!-- 
	<div th:each="entry: ${listOfMaps[0]}">
		<span th:text="${entry.value}"></span> <a class="js-fancybox u-media-viewer" href="javascript:;"
			th:data-src="@{'/img/mainImages/WorldSkills/' + ${entry.value} +'.jpg'}" data-fancybox="fancyboxGallery0"
			data-speed="100" data-is-slideshow-auto-start="true" data-slideshow-speed="1400"
			style="left: 1135px; top: 260px; width: 270px; position: absolute;">
			<img class="img-fluid rounded"
			src="/img/foldersImages/WorldSkills.png" alt="Image Description"
			style="height: 295px; filter: alpha(Opacity = 100); opacity: 1.00;">
		</a>
	</div>

	<div th:each="i : ${#numbers.sequence(2, #lists.size(listOfMaps)-1)}">
		<div th:each="entry: ${listOfMaps[i]}">
			<div class="col-sm-4 mb-3" hidden>
				<a class="js-fancybox u-media-viewer" 
				th:data-src="@{'/img/mainImages/'+ ${entry.key} +'/'+ ${entry.value} +'.jpg'}"
					data-fancybox="fancyboxGallery0" data-speed="100" data-slideshow-speed="1400" data-is-slideshow-auto-start="true"
					hidden> <img class="img-fluid rounded"
					src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg"
					alt="Image Description">
				</a>
			</div>
		</div>
	</div>
	 -->
	 
	 
	 
	 <!-- Main -->
                      <a class="js-fancybox u-media-viewer"  href="javascript:;"
                         th:data-src="@{/img/mainImages/main/1.jpg}" 
                         data-fancybox="fancyboxGallery0"
                         data-speed="100"
                         data-is-slideshow-auto-start="true"
                         data-slideshow-speed = "1400"
                         style="left: 599px;top: 30px;/* width: 270px; */position: absolute;height: 337px;">
                        <img class="img-fluid rounded" src="/img/foldersImages/main.png" alt="Image Description" style="height: 455px;filter: alpha(Opacity=100);  opacity: 1.00;">
                      </a>

 
                    <div th:each="i : ${#numbers.sequence(2, 34)}">
                       <div class="col-sm-4 mb-3" hidden>
                        <a class="js-fancybox u-media-viewer"
                         th:data-src="@{/img/mainImages/main/{img}(img=${i}+'.jpg')}" 
                         data-fancybox="fancyboxGallery0"
                         data-speed="100"
                          data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         hidden>
                        <img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
                        </a>
                       </div>
                    </div>
 


	<!-- WorldSkills -->
                      <a class="js-fancybox u-media-viewer"  href="javascript:;"
                         th:data-src="@{/img/mainImages/WorldSkills/1.jpg}" 
                         data-fancybox="fancyboxGallery1"
                         data-speed="100"
                         data-is-slideshow-auto-start="true"
                         data-slideshow-speed = "1400"
                         style="top: 240px;left: 1620px;width: 205px;position: absolute;">
                        <img class="img-fluid rounded" src="/img/foldersImages/WorldSkills.png" alt="Image Description" style="height: 218px;filter: alpha(Opacity=100);  opacity: 1.00;">
                      </a>

					<div th:each="i : ${#numbers.sequence(2, 30)}">
					   <div class="col-sm-4 mb-3" hidden>
                        <a class="js-fancybox u-media-viewer"
                         th:data-src="@{/img/mainImages/WorldSkills/{img}(img=${i}+'.jpg')}" 
                         data-fancybox="fancyboxGallery1"
                         data-speed="100"
                          data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         hidden>
                        <img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
                        </a>
                       </div>
                    </div>
                    
              <!-- Military -->
                      <a class="js-fancybox u-media-viewer" href="javascript:;"
                         th:data-src="@{/img/mainImages/military/1.jpg}" 
                         data-fancybox="fancyboxGallery2"
                         data-speed="100"
                          data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         style="top: 260px;left: 10px;width: 325px;position: absolute;">
                        <img class="img-fluid rounded" src="/img/foldersImages/military.png" alt="Image Description" style="height: 185px;filter: alpha(Opacity=100);  opacity: 1.00;">
                      </a>

					<div th:each="i : ${#numbers.sequence(2, 25)}">
					   <div class="col-sm-4 mb-3" hidden>
                        <a class="js-fancybox u-media-viewer"
                         th:data-src="@{/img/mainImages/military/{img}(img=${i}+'.jpg')}" 
                         data-fancybox="fancyboxGallery2"
                         data-speed="300"
                          data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         hidden>
                        <img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
                        </a>
                       </div>
                    </div>
                    
              <!-- Achievements -->
                      <a class="js-fancybox u-media-viewer" href="javascript:;"
                         th:data-src="@{/img/mainImages/achievements/1.jpg}" 
                         data-fancybox="fancyboxGallery3"
                         data-speed="100"
                          data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         style="top: 785px;left: 1130px;width: 305px;position: absolute;">
                        <img class="img-fluid rounded" src="/img/foldersImages/achievements.png" alt="Image Description" style="height: 270px;filter: alpha(Opacity=100);  opacity: 1.00;">
                      </a>

					<div th:each="i : ${#numbers.sequence(2, 30)}">
					   <div class="col-sm-4 mb-3" hidden>
                        <a class="js-fancybox u-media-viewer" 
                         th:data-src="@{/img/mainImages/achievements/{img}(img=${i}+'.jpg')}" 
                         data-fancybox="fancyboxGallery3"
                         data-speed="100"
                         data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         hidden>
                        <img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
                        </a>
                       </div>
                    </div>
                    
                    <!-- Ideological -->
                      <a class="js-fancybox u-media-viewer" href="javascript:;"
                         th:data-src="@{/img/mainImages/ideological/1.jpg}" 
                         data-fancybox="fancyboxGallery4"
                         data-speed="100"
                         data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         style="top: 16px;left: 224px;width: 395px;position: absolute;">
                        <img class="img-fluid rounded" src="/img/foldersImages/ideological.png" alt="Image Description" style="height: 292px;filter: alpha(Opacity=100);  opacity: 1.00;">
                      </a>

                    <div th:each="i : ${#numbers.sequence(2, 43)}">
                       <div class="col-sm-4 mb-3" hidden>
                        <a class="js-fancybox u-media-viewer" 
                         th:data-src="@{/img/mainImages/ideological/{img}(img=${i}+'.jpg')}" 
                         data-fancybox="fancyboxGallery4"
                         data-speed="100"
                         data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         hidden>
                        <img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
                        </a>
                       </div>
                    </div>
                    
                    <!-- BRSM -->
                      <a class="js-fancybox u-media-viewer" href="javascript:;"
                         th:data-src="@{/img/mainImages/brsm/1.jpg}" 
                         data-fancybox="fancyboxGallery5"
                         data-speed="100"
                         data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         style="top: 510px;left: 1470px;width: 405px;position: absolute;">
                        <img class="img-fluid rounded" src="/img/foldersImages/brsm.png" alt="Image Description" style="height: 290px;filter: alpha(Opacity=100);  opacity: 1.00;">
                      </a>

                    <div th:each="i : ${#numbers.sequence(2, 18)}">
                       <div class="col-sm-4 mb-3" hidden>
                        <a class="js-fancybox u-media-viewer" 
                         th:data-src="@{/img/mainImages/brsm/{img}(img=${i}+'.jpg')}" 
                         data-fancybox="fancyboxGallery5"
                         data-speed="100"
                         data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         hidden>
                        <img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
                        </a>
                       </div>
                    </div>
                    
                    <!-- Сonstruction -->
                      <a class="js-fancybox u-media-viewer" href="javascript:;"
                         th:data-src="@{/img/mainImages/construction/1.jpg}" 
                         data-fancybox="fancyboxGallery6"
                         data-speed="100"
                         data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         style="top: 15px;left: 1290px;width: 445px;position: absolute;">
                        <img class="img-fluid rounded" src="/img/foldersImages/construction.png" alt="Image Description" style="height: 290px;filter: alpha(Opacity=100);  opacity: 1.00;">
                      </a>

                    <div th:each="i : ${#numbers.sequence(2, 32)}">
                       <div class="col-sm-4 mb-3" hidden>
                        <a class="js-fancybox u-media-viewer" 
                         th:data-src="@{/img/mainImages/construction/{img}(img=${i}+'.jpg')}" 
                         data-fancybox="fancyboxGallery6"
                         data-speed="100"
                         data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         hidden>
                        <img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
                        </a>
                       </div>
                    </div>
                    
                    <!-- sport -->
                      <a class="js-fancybox u-media-viewer" href="javascript:;"
                         th:data-src="@{/img/mainImages/sport/1.jpg}" 
                         data-fancybox="fancyboxGallery7"
                         data-speed="100"
                         data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         style="top: 535px;left: 40px;width: 425px;position: absolute;">
                        <img class="img-fluid rounded" src="/img/foldersImages/sport.png" alt="Image Description" style="height: 215px;filter: alpha(Opacity=100);  opacity: 1.00;">
                      </a>

                    <div th:each="i : ${#numbers.sequence(2, 38)}">
                       <div class="col-sm-4 mb-3" hidden>
                        <a class="js-fancybox u-media-viewer" 
                         th:data-src="@{/img/mainImages/sport/{img}(img=${i}+'.jpg')}" 
                         data-fancybox="fancyboxGallery7"
                         data-speed="100"
                         data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         hidden>
                        <img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
                        </a>
                       </div>
                    </div>
                    
                    <!-- MKC -->
                      <a class="js-fancybox u-media-viewer" href="javascript:;"
                         th:data-src="@{/img/mainImages/mkc/1.jpg}" 
                         data-fancybox="fancyboxGallery8"
                         data-speed="100"
                         data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         style="top: 695px;left: 405px;width: 505px;position: absolute;">
                        <img class="img-fluid rounded" src="/img/foldersImages/mkc.png" alt="Image Description" style="height: 375px;filter: alpha(Opacity=100);  opacity: 1.00;">
                      </a>

                    <div th:each="i : ${#numbers.sequence(2, 34)}">
                       <div class="col-sm-4 mb-3" hidden>
                        <a class="js-fancybox u-media-viewer" 
                         th:data-src="@{/img/mainImages/mkc/{img}(img=${i}+'.jpg')}" 
                         data-fancybox="fancyboxGallery8"
                         data-speed="100"
                         data-slideshow-speed = "1400"
                         data-is-slideshow-auto-start="true"
                         hidden>
                        <img class="img-fluid rounded" src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/documentation/assets/img/img41.jpg" alt="Image Description">
                        </a>
                       </div>
                    </div>
                    
                    
<script type="text/javascript">
			
var counterHref=0;
var counterDeleteIcons = 1;
</script>

<script>
var counter = 1;
$('.m1').each(function(i,elem) {
	var el=elem;
    var loading_img = $('#loading'+counter++);
    var el_coords = $(el).offset();
    
    loading_img.show().css({
        left: el_coords.left + (($(el).width()) - (loading_img.width()) - (loading_img.width())/8), // 240/2 - 24/2   120 + 12
        top: el_coords.top + (($(el).height()) - (loading_img.height()) -(loading_img.height())/8),
    });
    
});
</script>
			
    
    <!-- 
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
     -->
    
    <!-- JS Global Compulsory -->
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/popper.js/dist/umd/popper.min.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/bootstrap/bootstrap.min.js}"></script>

  <!-- JS Implementing Plugins -->
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/hs-megamenu/src/hs.megamenu.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/vendor/fancybox/jquery.fancybox.min.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/documentation/assets/vendor/jquery-ui/jquery-ui.core.min.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/documentation/assets/vendor/jquery-ui/ui/widgets/menu.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/documentation/assets/vendor/jquery-ui/ui/widgets/mouse.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/documentation/assets/vendor/jquery-ui/ui/widgets/autocomplete.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/documentation/assets/vendor/prism/prism.js}"></script>

  <!-- JS Front -->
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/js/hs.core.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/js/components/hs.header.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/js/components/hs.go-to.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/js/components/hs.malihu-scrollbar.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/js/components/hs.scroll-nav.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/assets/js/components/hs.fancybox.js}"></script>
  <script th:src="@{/js/Projects/Store.Web/Store.Web/wwwroot/documentation/assets/js/components/hs.autocomplete-local-search.js}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');

      // initialization of malihu scrollbar
      var $scrollbar = $('.js-scrollbar');
      $.HSCore.components.HSMalihuScrollBar.init($scrollbar);
      $($scrollbar).mCustomScrollbar('scrollTo', '.js-scrollbar .hs-sidebar__link.active');

      // initialization of fancybox
      $.HSCore.components.HSFancyBox.init('.js-fancybox');

      // initialization of gallery with thumbs
      $.HSCore.components.HSFancyBox.init('.js-fancybox-thumbs', {
        thumbs: {
          autoStart: true
        }
      });
    });

    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991.98,
        hideTimeOut: 0
      });

      // initialization of autocomplet
      $.HSCore.components.HSLocalSearchAutocomplete.init('.js-hs-docs-search');

      // initialization of HSScrollNav component
      var offsetTop = $('#logoAndNav').outerHeight();

      $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
        duration: 400,
        customOffsetTop: 0
      });
    });
  </script> 
    
    <script type="text/javascript">
        $('#inputGroupFile04').on('change', function () {
            //get the file name
            var fileName = $(this).val();
            // alert("file: "+fileName);
            //replace the "Choose a file" label
            var str = fileName.substr(12, fileName.lenght);
            $(this).next('.custom-file-label').html(str);
        })
    </script>
</body>
</html>