<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons::head"></head>
    <body>
        <div th:replace="commons::navbar(active='messages')"></div>
            <div th:replace="commons::nav"></div>

        <div class="wrapper">
            <div class="container">
           
            <div class="row">
            <div class="col-md-10">
            <h2> Результат поиска </h2>
            </div>
            
            <div class="col-md-2" style="padding-top: 0.25rem; padding-left: 2.25rem;">
            <form action="/personAS2" accept-charset="UTF-8" method="POST">
                <!-- value="Все"  -->
                        <input type="hidden" name="personForm.person.surname" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите фамилию" 
                        th:value="${personForm.person.surname}" >
                
                        <input type="hidden" name="person.surname" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите surname"
                        th:value="${personForm.person.surname}" >
                
                        <input type="hidden" name="person.name" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите имя"
                        th:value="${personForm.person.name}" >
                
                        <input type="hidden" name="person.patronymic" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите отчество"
                        th:value="${personForm.person.patronymic}" >
                    
                    <select class="custom-select" name="person.type" id="inputGroupSelect01" hidden>
                                <option selected th:value="${personForm.person.type}" th:text="${personForm.person.type}"> Все </option>
                                <option value="Учащийся"> Учащийся </option>
                                <option value="Работник колледжа"> Работник колледжа </option>
                                <option value="Другое"> Другое </option>
                                <option value="Все"> Все </option>
                    </select>
                    
                    <select class="custom-select" name="person.gender" id="inputGroupSelect01" hidden>
                                <option selected th:value="${personForm.person.gender}" th:text="${personForm.person.gender}"> Все </option>
                                <option value="М"> М </option>
                                <option value="Ж"> Ж </option>
                                <option value="Все"> Все </option>
                    </select>

                   <input type="number" value="0" name="firstNum" class="form-control" id="inlineFormInputGroupUsername2"
                   th:value="${personForm.firstNum}" hidden>
                   <input type="number" value="100" name="secondNum" class="form-control" id="inlineFormInputGroupUsername2"
				   th:value="${personForm.SecondNum}" hidden>
                
                   <input type="number" step="any" min="0" max="10" value="0.0" name="person.averageScore" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите балл от 0 до 10"
					th:value="${personForm.person.averageScore}" hidden>

                         <select class="custom-select" name="person.formOfEducation" id="inputGroupSelect01" hidden>
                                <option selected th:value="${personForm.person.formOfEducation}" th:text="${personForm.person.formOfEducation}"> Все </option>
                                <option value="Очная"> Очная </option>
                                <option value="Заочная"> Заочная </option>
                                <option value="Вечерняя"> Вечерняя </option>
                                <option value="Все"> Все </option>
                         </select>
               
                        <input type="hidden" name="person.group" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите группу"
                        th:value="${personForm.person.group}" >
                
                        <select class="custom-select" name="person.otdel" id="inputGroupSelect01" hidden>
                                <option selected th:value="${personForm.person.otdel}" th:text="${personForm.person.otdel}" > Все </option>
                                <option value="Профессионально-технологическое"> Профессионально-технологическое </option>
                                <option value="Технико-технологическое"> Технико-технологическое </option>
                                <option value="Архитектурно-строительное"> Архитектурно-строительное </option>
                                <option value="Промышленно-технологическое"> Промышленно-технологическое </option>
                                <option value="Все"> Все </option>
                        </select>
                              
                        <input type="hidden" value="1900" name="person.yearAdmission" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите год поступления"
                        th:value="${personForm.person.yearAdmission}" >
                
                        <input type="hidden" value="1900" name="person.yearEnding" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите год окончания"
                        th:value="${personForm.person.yearEnding}" >
                
                        <input type="hidden" name="person.privileges" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите льготы"
                        th:value="${personForm.person.privileges}" >
                
                        <input type="hidden" name="person.passport" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите серию и номер пасспорта"
                        th:value="${personForm.person.passport}" >
                        
                        <input type="hidden" name="person.identNumber" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите идентификационный номер"
                        th:value="${personForm.person.identNumber}" >
                        
                        <input type="hidden" name="person.issuedBy" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите кем выдан пасспорт"
                        th:value="${personForm.person.issuedBy}" >
                
                        <input type="hidden" name="person.homeAddress" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите адрес"
                        th:value="${personForm.person.homeAddress}" >
                
                        <input type="hidden" name="person.phoneNumber" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите номер"
                        th:value="${personForm.person.phoneNumber}" >
                        
                        <input type="hidden" name="person.school" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите адрес и\или дату окончания школы"
                        th:value="${personForm.person.school}" >

                        <input type="hidden" name="person.educationDocument" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите наименование документа"
                        th:value="${personForm.person.educationDocument}" >
                
                        <input type="hidden" name="person.certificateNumber" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите номер аттестата"
                        th:value="${personForm.person.certificateNumber}" >

                        <input type="hidden" name="person.citizenship" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Введите гражданство"
                        th:value="${personForm.person.citizenship}" >

                <button type="submit" class="btn btn-success">Скачать Word</button>
                <!-- disabled -->
            </form>
            </div>
            
            
            </div>
            
            <table class="table table-primary">
            <thead>
            <tr>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Отделение</th>
            <th scope="col">Группа</th>
            <th scope="col">Общежитие</th>
            <th scope="col">Комната</th>
            <th scope="col">Возраст</th>
            <th scope="col">Телефон</th>
            <th scope="col">Адрес</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-secondary" th:each="person: ${persons}">
                <td><th:block th:text="${person.surname}"/></td>
                <td><th:block th:text="${person.name}"/></td>
                <td><th:block th:text="${person.patronymic}"/></td>
                
                <td><th:block th:text="${person.otdel}"/></td>
                <td><th:block th:text="${person.group}"/></td>
                
                <!-- Номер общежития -->
                <td>
                <th:block th:if="${person.room.dormitory.id == 3}" th:text="1"/>
                <th:block th:if="${person.room.dormitory.id == 2}" th:text="2"/>
                <th:block th:if="${person.room.dormitory.id == 1}" th:text="3"/>
                </td>
                
                <td><th:block th:text="${person.room.number}"/></td>
                
                <!-- возраст -->
                <td><th:block th:text="${T(by.vgtk.support.Functions).getAgeFromDate(person.dateOfBirth)}"/></td>
                <!--  <td><th:block th:text="${T(by.vgtk.service.PersonServiceImpl).str(person.id)}"/></td>-->
                <td><th:block th:text="${person.phoneNumber}"/></td>
                <td><th:block th:text="${person.homeAddress}"/></td>
<!-- <td>
<a href="goAddStockProduct.html?id=${productStock.getId()}">
<button type="button" class="btn btn-warning">Изменить</button>
</a>
</td>
<td>
<a href="deleteStockProduct.html?id=${productStock.getId()}">
<button type="button" class="btn btn-danger">Удалить</button></a>
</td>-->
            </tr>
            </tbody>
            </table>
            
            </div>
        </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>