<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<title>Профиль абитуриента</title>
<head th:replace="commons::head"></head>
<body>
    <div th:replace="commons::navbar"></div>
    <div th:replace="commons::navAdmission"></div>

    <div class="wrapper">
        <div class="container" >
            <div class="row">
            
                <div class="col-md-8" style="padding-right: 0px;">
                    <ul class="nav nav-tabs">
                        <li class="nav-item nav-link disabled" style="padding-right: 10px;"><a class="nav-link"
                            id="nav-home-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-selected="true" >Информация</a></li>
                        <li class="nav-item nav-link disabled" style="padding-right: 10px;"><a class="nav-link"
                            id="nav-profile-tab" data-toggle="tab" href="#nav-photos"
                            role="tab" aria-selected="false">Фото</a></li>
                        <li class="nav-item nav-link disabled" style="padding-right: 10px;"><a class="nav-link"
                            id="nav-docs-tab" data-toggle="tab" href="#nav-docs" role="tab"
                            aria-selected="false" style="padding-right: 10px;">Документы</a></li>
                        <li class="nav-item nav-link disabled"><a class="nav-link"
                            id="nav-ii-tab" data-toggle="tab" href="#nav-ii" role="tab"
                            aria-selected="false" style="padding-right: 10px;">Внутренняя опись</a></li>
                        <li class="nav-item nav-link disabled"><a class="nav-link"
                            id="nav-balls-tab" data-toggle="tab" href="#nav-balls" role="tab"
                            aria-selected="false">Отметки</a></li>

                    </ul>
                </div>
                 <div class="col-md-2" style="padding-top: 10px; padding-left: 55px;">

                    <div class="btn-group">
                        <button type="button" style="width: 160px;" class="btn btn-light dropdown-toggle btn btn-success" data-toggle="dropdown"
                        
                            aria-haspopup="true" aria-expanded="false">На печать</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="${'/index/downloadDocxForPerson/Zayavlenie/'+person.id}">Заявление</a> <a
                                class="dropdown-item" th:href="${'/index/downloadDocxForPerson/Raspiska/'+person.id}">Расписка</a> <a
                                class="dropdown-item" th:href="${'/index/downloadDocxForPerson/Izveshchenie/'+person.id}">Извещение</a> <a
                                class="dropdown-item" th:href="${'/index/downloadDocxForPerson/Zachislenie/'+person.id}">Зачисление</a> <a
                                class="dropdown-item" th:href="${'/index/downloadDocxForPerson/Otchislenie/'+person.id}">Отчисление</a>
                            <th:block th:if="${person.id==31}">
                                <a class="dropdown-item" th:href="${'/index/downloadDocxForPerson/Spravka/'+person.id}">Справка</a>
                                <a class="dropdown-item" th:href="${'/index/downloadDocxForPerson/Izveshchenie na ekzamen/'+person.id}">Извещение
                                    на экзамен</a>
                            </th:block>
                            <th:block th:if="${T(by.vgtk.support.Functions).isThereContract(person.specialty1.id)}">
                                <a class="dropdown-item" th:href="${'/index/downloadDocxForPerson/Contract/'+person.id}">Договор</a>
                            </th:block>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2" style="padding-top: 10px; padding-left: 30px;">
                    <!-- style="position: absolute; right: 0; margin-right: 8%;" border: 7px solid transparent; -->
                    <a th:href="@{/acceptanceOfDocuments?id={pid}(pid=${person.id})}"
                        class="btn btn-success" style="">Редактировать</a>
                </div>
                
                
                
            </div>
            <div class="tab-content">

                <!-- div class="row row-cols-md-2 row-m-0"-->
                <div class="tab-pane fade show active" id="nav-profile"
                    role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row row-m-0">
                        <div class="col-md-2 pad-rl-0">
                            <img alt="Фотка"
                                th:src="${photos.size() < 1 ? '/img/stock_img/person.png' : 'data:image/jpeg;base64,' + photos[0]}"
                                style="width: 100%; height: 277px;">
                        </div>
						<div class="col-md-10 pad-rl-0">
							<ul class="list-group list-group-flush">
								<li class="list-group-item li-pers"><b>ФИО: </b> <th:block th:text="${person.surname}" /> <th:block
										th:text="${person.name}" /> <th:block th:text="${person.patronymic}" /></li>
								<li class="list-group-item li-pers"><b>ФИО в род.падеже: </b> <th:block th:text="${person.rodFIO}" /></li>
								<li class="list-group-item li-pers"><b>ФИО в дат.падеже: </b> <th:block th:text="${person.datFIO}" /></li>
								<li class="list-group-item li-pers"><b>Дата рождения: </b> <th:block
										th:text="${T(by.vgtk.support.Functions).getFormatDateWithoutHours(person.dateOfBirth)}" /></li>
								<li class="list-group-item li-pers"><b>Пол: </b> <th:block th:text="${person.gender == 'м'?'мужской': 'женский'}" /></li>

							</ul>
						</div>
					</div>
					<ul class="list-group list-group-flush">

						<li class="list-group-item li-pers"><b>Серия и номер паспорта: </b> <th:block th:text="${person.passport}" /></li>
						<li class="list-group-item li-pers"><b>Идентификационный номер: </b> <th:block th:text="${person.identNumber}" /></li>
						<li class="list-group-item"><b>Кем выдан: </b> <th:block th:text="${person.issuedBy}" /></li>
						<li class="list-group-item"><b>Адрес проживания: </b> <th:block th:text="${person.homeAddress}" /></li>
						<li class="list-group-item"><b>Мобильный телефон: </b> <th:block th:text="${person.phoneNumber}" /></li>
						<li class="list-group-item"><b>Школа, год окончания: </b> <th:block th:text="${person.school}" /></li>
						<li class="list-group-item"><b>УО, год окончания: </b> <th:block th:text="${person.UOGraduationYear}" /></li>
						<li class="list-group-item"><b>ФИО и номер матери: </b> <th:block th:text="${person.mother}" /></li>
						<li class="list-group-item"><b>ФИО и номер отца: </b> <th:block th:text="${person.dad}" /></li>
						<li class="list-group-item"><b>Адрес родителей: </b> <th:block th:text="${person.parentsAddress}" /></li>
						<li class="list-group-item"><b>Место работы родителей: </b> <th:block th:text="${person.parentsJobs}" /></li>
						<li class="list-group-item"><b>Необходимость общежития: </b> <th:block th:text="${person.dormitory}" /></li>
						<li class="list-group-item"><b>Документ об образовании: </b> <th:block th:text="${person.educationDocument}" /></li>
						<li class="list-group-item"><b>Номер документа: </b> <th:block th:text="${person.certificateNumber}" /></li>
						<li class="list-group-item"><b>Средний балл: </b> <th:block th:text="${person.averageScore}" /></li>
						<li class="list-group-item"><b>Иностранный язык: </b> <th:block th:text="${person.foreignLanguage}" /></li>
						<li class="list-group-item"><b>Доп. информация: </b> <th:block th:text="${person.dopInfo}" /></li>
						<li class="list-group-item"><b>Форма обучения: </b> <th:block th:text="${person.specialty1.formOfEducation}" /></li>
						<li class="list-group-item"><b>Тип образования: </b> <th:block th:text="${person.specialty1.department.departmentEducationType}" /></li>
						<li class="list-group-item"><b>Форма образования: </b> <th:block th:text="${person.formOfEducation1}" /></li>

						<li class="list-group-item"><b>Специальность: </b> <th:block th:text="${person.specialty1.SpecialtyName}" /></li>
						<li class="list-group-item"><b>Квалификация: </b> <th:block th:each="qua: ${person.specialty1.qualification}">
								<th:block th:text="${qua.name}" />
							</th:block></li>
							
						<li class="list-group-item"><b>Льготы: </b> <th:block th:text="${person.privileges}" /></li>
						<li class="list-group-item"><b>Другие документы: </b> <th:block th:text="${person.otherDocs}" /></li>
						<li class="list-group-item"><b>Гражданство: </b> <th:block th:text="${person.citizenship}" /></li>
							
						<th:block th:each="sc: ${person.selectionCommittees}">
							<hr>
							<li class="list-group-item"><b>Дата подачи документов: </b> <th:block
									th:text="${T(by.vgtk.support.Functions).getFormatDate(sc.dateSubmissionDocuments)}" /></li>
							<li class="list-group-item"><b>Дата зачисления: </b> <th:block
									th:text="${T(by.vgtk.support.Functions).getFormatDateWithoutHours(sc.enrollmentDate)}" /></li> 
							<li class="list-group-item"><b>Район: </b> <th:block th:text="${sc.typePersonSettlement}" /></li>
							<li class="list-group-item"><b>Мед справка: </b> <th:block th:text="${sc.medicalCertificate}" /></li>
							<li class="list-group-item"><b>Приказ о зачислении: </b> <th:block th:text="${sc.orderAdmission}" /></li>
							<li class="list-group-item"><b>Номер подачи заявки: </b> <u><th:block th:text="${sc.requestNumber}" /></u></li>
						</th:block>

					
					</ul>
				</div>
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script -->
    <script>
        function myFunction(imgs) {
            var expandImg = document.getElementById("expandedImg");
            var imgText = document.getElementById("imgtext");
            expandImg.src = imgs.src;
            imgText.innerHTML = imgs.alt;
            expandImg.parentElement.style.display = "block";
        }
    </script>
    <script type="text/javascript">
        $('#inputGroupFile04').on('change', function() {
            //get the file name
            var fileName = $(this).val();
            // alert("file: "+fileName);
            //replace the "Choose a file" label
            var str = fileName.substr(12, fileName.lenght);
            $(this).next('.custom-file-label').html(str);
        })
    </script>
    <script type="text/javascript">
        $('#inputGroupFile03').on('change', function() {
            //get the file name
            var fileName = $(this).val();
            // alert("file: "+fileName);
            //replace the "Choose a file" label
            var str = fileName.substr(12, fileName.lenght);
            $(this).next('.custom-file-label').html(str);
        })
    </script>

    <script type="text/javascript">
        function editInventory(img) {
            var btnDone = document.getElementById("done_img"
                    + img.id.slice(img.id.length - 1));
            btnDone.removeAttribute('hidden');

            var thDocName = document.getElementById("docName"
                    + img.id.slice(img.id.length - 1));
            thDocName.removeAttribute('disabled');

            var thDate = document.getElementById("docDate"
                    + img.id.slice(img.id.length - 1));
            thDate.disabled = false;

            var thSheetNumber = document.getElementById("sheetNumber"
                    + img.id.slice(img.id.length - 1));
            thSheetNumber.removeAttribute('disabled');

            var thNote = document.getElementById("note"
                    + img.id.slice(img.id.length - 1));
            thNote.removeAttribute('disabled');
            //console.log("note" + str.slice(str.length - 1));
            //console.log(str.length);
        }
    </script>
    <!-- script type="text/javascript">
    $(function() { 
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
            //save the latest tab using a cookie:
            localStorage.setItem('last_tab', $(e.target).attr('href'));
        });
        //activate latest tab, if it exists:
        var lastTab = localStorage.getItem('lastTab');
        var qw = $('a[href="' + lastTab + '"]');
        if (lastTab) {
            qw.tab('show');
        }
        else
        {
            // Set the first tab if cookie do not exist
            $('a[data-toggle="tab"]:first').tab('show');
        }
    });
    </script-->
</body>
</html>