<!DOCTYPE html>
<title>Выселить жильца</title>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons::head"></head>
    <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css"-->
<body>
    <div th:replace="commons::navbar(active='messages')"></div>
    <div th:replace="commons::nav"></div>

<div class="wrapper">
<div class="container" style="width: 70%;">

                <th:block th:if = "${done != null}">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>Выселение прошло успешно</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                </th:block>

<form action="/personDeleteRoom" accept-charset="UTF-8" method="POST">
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="width: 100%;">ФИО</div>
                    </div>
                    
                    <div style="border: 10px solid transparent; width: 80%;">
                        <select class="livesearch" name="number" style="width: 100%;">
                            <div th:each="person: ${persons}">
                                <option th:value="${person.id}">
                                <th:block th:text="${person.surname}"/> 
                                <th:block th:text="${person.name}"/> 
                                <th:block th:text="${person.patronymic}"/> 
                                <th:block th:if="${person.room != null}"> 
                                    <th:block th:if="${person.room.dormitory.id == 3}" th:text="общ.1"/> 
                                    <th:block th:if="${person.room.dormitory.id == 2}" th:text="общ.2"/> 
                                    <th:block th:if="${person.room.dormitory.id == 1}" th:text="общ.3"/> 
                                    <th:block th:text="${person.room.number}"/> 
                                </th:block>
                                </option>
                            </div>
                        </select>
                    </div>
                    
                </div>
                
                 <button style="font-size: 120%; width: 40%; margin: 0 auto;" type="submit" class="btn btn-primary">Выселить</button>
            </form>
        </div>
<!--  <div class="container text-center">

   <div style="border-bottom: 5px solid transparent;">

   <h4 style="border: 10px solid transparent;"> Поиск человека на заселение по ФИО </h4> 
   <form action="/personInfo.html" accept-charset="UTF-8" method="POST">
   <div class="input-group mb-3" style="border: 5px solid transparent; text-align: left;">
   
        <select class="livesearch" name="idPerson" style="width: 100%;">

        <div th:each="person: ${persons}">
        <option th:value="${person.id}"><th:block th:text="${person.surname}"/> <th:block th:text="${person.name}"/> <th:block th:text="${person.patronymic}"/></option>
        </div>
        
        </select>
                    
   </div>
   <button style="margin: 0 auto; border: 5px solid transparent;" type="submit" class="btn btn-success">Выбрать</button>
   </form>
    </div>
</div>-->

</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
    <script type="text/javascript"> $(".livesearch").chosen(); </script>

</body>
</html>