<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Фотогалерея</title>
    <head th:replace="commons::head"></head>
    
    <style>
    .imgL { position: absolute;  visibility: none;/* other styles, BG img etc */ }
    </style>
    
    <link rel="stylesheet" th:href="@{/js/fancybox/jquery.fancybox.min.css}">
    
    <body>
        <div th:replace="commons::navbar"></div>
            <div th:replace="commons::navSpps"></div>

        <div class="wrapper">
            <div class="container text-center">
                <form action="/sendSppsPhoto" method="POST" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="custom-file">
                            <input name="ph" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" required="required">
                            <label class="custom-file-label" for="inputGroupFile04"></label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Загрузить</button>
                        </div>
                    </div>
                </form>
			<table class="table table-primary" align="center">
				<thead th:each="photo, status: ${photos}">
					<tr align="center">
					<a data-fancybox="gallery" th:href="${'data:image/jpeg;base64,' + photo}">
						<img  hspace="5" vspace="5" th:name="${pids[status.index]}" th:src="${'data:image/jpeg;base64,' + photo}"
							width="240" class="m1" >  
						</a>
					</tr>
				</thead>
			</table>

<!-- img backet -->
			<!-- div class="delImgs"> 
				<a class="hreff" href="http://vk.com"> <img src="/img/delete_logo_with_border.png" width="24" height="24"
					class="imgL" id='loading1' /> <br>
				</a>
			</div-->

			<br>
				

<script type="text/javascript">
			
var counterHref=0;
var counterDeleteIcons = 1;
$('.m1').each(function(i,elem) {
	
	//нужны все id а клонировать первый не нужно
    let parent = document.getElementsByClassName('delImgs')[0];
    let elem1 = parent.querySelector('.hreff'); //image backet 
    
    let elem2 = document.getElementsByClassName('hreff')[counterHref++];
    
	if(counterDeleteIcons < $('.m1').length){ 
	    let clone = elem1.cloneNode(true);
	    clone.children[0].id='loading'+ ++counterDeleteIcons
	    parent.appendChild(clone);
    }
	///deleteImgSpps/
    elem2.href = "http://google.com/"+elem.name;
   
});


</script>

<script>
var counter = 1;
$('.m1').each(function(i,elem) {
	var el=elem;
    var loading_img = $('#loading'+counter++);
    var el_coords = $(el).offset();
    
    loading_img.show().css({
        left: el_coords.left + (($(el).width()) - (loading_img.width()) - (loading_img.width())/8), // 240/2 - 24/2   120 + 12
        top: el_coords.top + (($(el).height()) - (loading_img.height()) -(loading_img.height())/8),
    });
    
});
</script>
			
    </div>
</div>


    <script type="text/javascript" th:src="@{/js/fancybox/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fancybox/jquery.fancybox.min.js}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script type="text/javascript">
        $('#inputGroupFile04').on('change', function () {
            //get the file name
            var fileName = $(this).val();
            // alert("file: "+fileName);
            //replace the "Choose a file" label
            var str = fileName.substr(12, fileName.lenght);
            $(this).next('.custom-file-label').html(str);
        })
    </script>


    
</body>
</html>