<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<title th:text="${spec.SpecialtyName}"></title>
<head th:replace="commons::head"></head>
<body>
    <div th:replace="commons::navbar"></div>
    <div th:replace="commons::navEdu"></div>

    <div class="wrapper">
        <div class="container">
            <div class="card">
                <div class="card-header">
               
                <div style="text-align: center;font-size:150% ">
                 <b> <th:block  th:text="${'Курс: ' + #httpServletRequest.getParameter('k')}"/></div></b>
             	<table>
					<tr>
						<td valign="top" style="font-size:150%">  <b><th:block th:text="${'Специальность:&nbsp'}"/>  <b></th>
						<td valign="top" style="font-size:150%"><th:block th:each="arr: ${specialtyArr}">
                        <th:block th:utext="${arr}+'<br>'" >
                        </th:block></th:block>
					</tr>
					<tr>
						<td valign="top" style="font-size:150%">  <b><th:block th:text="${'Квалификация:&nbsp'}"/></b></td>
						<td valign="top" style="font-size:150%"><th:block th:each="qulification: ${qualifications}">
                        <th:block th:utext="${qulification.name +'<br>'}" >
                        </th:block></th:block></td>
					</tr>
					</table>
				
                
               
                </div>
                <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" style="flex: 1;
  border-right: 1px solid grey; text-align: center; font-size:110%">
                           <b>Количество студентов: </b><th:block th:text="${countStudent}"/>
                        </div>
                        <div class="col-md-4" style="flex: 1;
  border-right: 1px solid grey; text-align: center; font-size:110%">
                             <b>Бюджет: </b><th:block th:text="${budget}"/>
                           <b>&emsp;Коммерция: </b><th:block th:text="${commerce}"/>
                        </div>
                        <div class="col-md-4" style="text-align: center; font-size:110%">
                         
                           <b>Мужской: </b><th:block th:text="${countMens}"/>
                           <b>&emsp;Женский: </b><th:block th:text="${countStudent - countMens}"/>
                        </div>
                    </div>
                </div>
                    
                    
                </div>
            </div>

            <div class="card">
                <div class="card-header" style="font-size:150%">
                    <b>
                        <th:blockx th:text="'Группы'" />
                    </b>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="gr, status : ${groups}">
                            <a th:href="@{/educational/deps/specialty/group?gid={groupid}(groupid=${gr.id})}">
                                <th:block th:text="${gr.groupName}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
    <script type="text/javascript">$(".livesearch").chosen();</script>
</body>
</html>