<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="${nameOfPage}"></title>
<head th:replace="commons::head"></head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
<body>
	<div th:replace="commons::navbar"></div>
	<div th:replace="commons::navSpps"></div>

	<div class="wrapper" style="padding-top: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12" style="padding-right: 0px;">
					<ul class="nav nav-tabs">
						<li class="nav-item nav-link"><a class="nav-link active"
							id="nav-registered-tab" data-toggle="tab" href="#nav-registered"
							role="tab" aria-selected="true"
							style="font-size: 100%; color: black;">Данные</a></li>
						<li class="nav-item nav-link"><a class="nav-link"
							id="nav-not-registered-tab" data-toggle="tab"
							href="#nav-not-registered" role="tab" aria-selected="false"
							style="font-size: 100%; color: black;">Информация</a></li>
					</ul>
				</div>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="nav-registered"
					role="tabpanel" aria-labelledby="nav-registered-tab">
					<!-- данные -->
					<div class="row">
						<div class="col-md-10" style="padding-right: 0px;">
							<form th:action="@{/sppsservice/{serv}(serv=${sppsName})}"
								accept-charset="UTF-8" method="POST">
								<div class="input-group">
									<input name="date1" class="form-control" type="date"
										th:value="${date1}"> <input name="date2"
										class="form-control" type="date" th:value="${date2}">
									<div class="input-group-append">
										<button type="submit" class="btn btn-success">Найти</button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-2" style="text-align: right">
							<form action="/downloadDocxViolationSelect"
								accept-charset="UTF-8" method="POST">
								<input type="hidden" name="service" class="form-control"
									th:value=${service}> <input type="hidden"
									name="sppsName" class="form-control" th:value=${sppsName}>
								<input type="hidden" name="date1" class="form-control"
									th:value=${date1}> <input type="hidden" name="date2"
									class="form-control" th:value=${date2}>
								<button type="submit" class="btn btn-success"
									style="width: 100%;">Скачать Word</button>
							</form>
						</div>
					</div>

					<th:block th:if="${persons.size()>0}">
						<table class="table table-primary" >
							<thead>
								<tr th:each="person, status: ${persons}">

									<th scope="col">№ п/sп</th>
									<th scope="col">№ Группы</th>
									<th scope="col">Отделение</th>
									<th scope="col">ФИО / дата рождения</th>
									<th scope="col">Домашний адрес (адрес проживания)</th>
									<th scope="col">Вид преступлений и правонарушений</th>
									<th scope="col">Занятость родителей</th>

								</tr>
							</thead>
							<tbody>
								<tr class="table-secondary" th:each="person, status: ${persons}">
									<td><th:block th:text="${status.count}" /></td>
									<td><th:block th:if="${person.otdel} != null"
											th:text="${T(by.vgtk.support.Functions).getAbbrOtdel(person.otdel)}" /></td>
									<td><th:block th:text="${person.group}" /></td>
									<td><a th:href="@{/person?id={pid}(pid=${person.id})}"><th:block
												th:text="${person.surname + ' ' + person.name + ' ' + person.patronymic + ' ' + person.dateOfBirth}" /></a></td>
									<td><th:block
											th:text="${person.homeAddress + ' ' + person.phoneNumber}" /></td>
									<td><th:block th:each="vio: ${person.violations}">
											<th:block th:text="${vio.description}" />
											<br>
										</th:block></td>
									<td><th:block
											th:text="${person.mother + ' ' + person.dad}" /></td>
								</tr>
							</tbody>
						</table>

					</th:block>
					<th:block th:if="${persons.size()} < 1">
					<table class="table table-primary" >
						<th scope="col">Нет результата поиска</th>
						</table>
					</th:block>
					<!-- данные -->
				</div>
				<div class="tab-pane fade show" id="nav-not-registered"
					role="tabpanel" aria-labelledby="nav-not-registered-tab">
					<!-- информация -->
					<div class="card" style="width: 100%">
						<div class="card-header">
							<h4>Информация</h4>
						</div>
						<div class="card-body">
							<div class="row row-m-0">
								<div class="col-md-10 pad-rl-0">
									<!-- 130 текст -->
									<!--<pre style="margin-top: 0; margin-bottom: 0rem; font-size: 130%;"><b>Педагог социальный: </b><th:block th:text="${info.fio}"/></pre>
                                            <pre style="margin-top: 0; margin-bottom: 0rem; font-size: 130%;">Рабочий номер: <th:block th:text="${info.phone}"/> Мобильный телефон: <th:block th:text="${info.mobPhone}"/></pre>
                                            <pre style="margin-top: 0; margin-bottom: 0rem; font-size: 130%;"><b>Кабинет:</b> <th:block th:text="${info.cabinet}"/></pre>-->
									<pre
										style="margin-top: 0; margin-bottom: 0rem; font-size: 130%;">
										<b>Общее количество человек на учете:</b> <th:block
											th:text="${countAll}" />
									</pre>


									<div class="row" style="margin-bottom: 0.25rem;">
										<div class="col-md-3">
											<div class="row">
												<div class="col-md-5"
													style="padding-right: 0px; padding-top: 0.25rem;">
													<b style="font-size: 110%;">Группа:</b>
												</div>
												<div class="col-md-7"
													style="padding-left: 0.5rem; padding-right: 0rem;">
													<select class="custom-select" id="val1">
														<option th:value="${sppsName}+':ВС:group'">ВС</option>
														<option th:value="${sppsName}+':ит:group'">ит</option>
														<option th:value="${sppsName}+':МС:group'">МС</option>
														<option th:value="${sppsName}+':ПТ:group'">ПТ</option>
														<option th:value="${sppsName}+':ЭФ:group'">ЭФ</option>
													</select>
												</div>
											</div>
										</div>
										
										
										<!-- <div class="col-md-6" style="padding-top: 0.3rem;">
											<b style="font-size: 110%;">Количество: </b><span
												id="answer1" th:text="${findByGroup[0].count}"
												style="font-size: 110%;">---</span>
										</div> -->
									</div>

									<div class="row">
										<div class="col-md-1"
											style="padding-right: 0px; padding-top: 0.25rem;">
											<b style="font-size: 110%;">Отдел:</b>
										</div>
										<div class="col-md-5"
											style="padding-left: 0.5rem; padding-right: 0rem;">
											<select class="custom-select" id="val2">
												<option
													th:value="${sppsName}+':Архитектурно-строительное:otdel'">Архитектурно-строительное</option>
												<option
													th:value="${sppsName}+':Промышленно-технологическое:otdel'">Промышленно-технологическое</option>
												<option
													th:value="${sppsName}+':Профессионально-технологическое:otdel'">Профессионально-технологическое</option>
												<option
													th:value="${sppsName}+':Технико-технологическое:otdel'">Технико-технологическое</option>
											</select>
										</div>
									<!-- 	<div class="col-md-6" style="padding-top: 0.3rem;">
											<b style="font-size: 110%;">Количество:</b> <span
												id="answer2" th:text="${findByOtdel[0].count}"
												style="font-size: 110%;">---</span>
										</div> -->
									</div>

									<script>
                                     var selVal1 = document.getElementById('val1')
                                     selVal1.onchange = function () {
                                     //alert(selVal.value)
                                     fetch("http://localhost:8080/searchq2/?value=" + selVal1.value, {
                                     credentials: 'same-origin',
                                     method: 'POST',
                                     headers: {
                                     'Content-Type': 'application/json',
                                     'Accept': 'application/json'
                                     }
                                     }).then(response => response.json())
                                     .then(products => {
                                     console.log("input.value1: " + products);
                                     for (let i = 0; i < products.length; i++) {
                                     var ii=products[i];
                                     document.getElementById('answer1').textContent = ii;
                                     }
                                     }).catch(err => {
                                     console.log("Error Reading data1 " + err);
                                     });
                                     }
                                    </script>

									<script>
                                     var selVal = document.getElementById('val2')
                                     selVal.onchange = function () {
                                     //alert(selVal.value)
                                     fetch("http://localhost:8080/searchq2/?value=" + selVal.value, {
                                     credentials: 'same-origin',
                                     method: 'POST',
                                     headers: {
                                     'Content-Type': 'application/json',
                                     'Accept': 'application/json'
                                     }
                                     }).then(response => response.json())
                                     .then(products => {
                                     console.log("input.value2: " + products);
                                     for (let i = 0; i < products.length; i++) {
                                     var ii=products[i];
                                     document.getElementById('answer2').textContent = ii;
                                     }
                                     }).catch(err => {
                                     console.log("Error Reading data2 " + err);
                                     });
                                     }
                                    </script>



									<!-- th:block th:if ="${findByGroup != null}">
                                            <div th:each="group: ${findByGroup}">
                                                <b>Группа:</b><th:block th:text="${group.type}"/> <b>Количество:</b> <th:block th:text="${group.count}"/>
                                            </div>
                                        </th:block>
                                        
                                        <th:block th:if ="${findByOtdel != null}">
                                            <div th:each="otdel: ${findByOtdel}">
                                                <b>Отдел:</b><th:block th:text="${otdel.type}"/> <b>Количество:</b> <th:block th:text="${otdel.count}"/>
                                            </div>
                                        </th:block-->

									<!--Временно-->

								</div>
								<!--<div class="col-md-2 pad-rl-0">
                                            <img alt="Фото" th:src="${'data:image/jpeg;base64,' + photo}" style="width: 100%; height: 267px">
                                        </div>-->
							</div>
						</div>
					</div>
					<!-- информация -->
				</div>
			</div>

			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
				integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
				crossorigin="anonymous"></script>
			<script
				src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
				integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
				crossorigin="anonymous"></script>
			<script
				src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
				integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
				crossorigin="anonymous"></script>
			<script
				src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
			<script type="text/javascript"> $(".livesearch").chosen(); </script>

		</div>
	</div>
</body>
</html>