<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons::head"></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
<body>
    <div th:replace="commons::navbar"></div>
    <div th:replace="commons::navSpps"></div>

    <div class="wrapper">
        <div class="container">

            <form class="form-inline my-2 my-lg-0 searchcl " action="/" method="get">
                <input list="results" class="form-control mr-sm-2 inputclsearch" id="srch1" type="search" name="productName"
                    oninput="search(this)" placeholder="Поиск" aria-label="Search">
                <datalist id="results"></datalist>
                <button href="#!" class="btn btn-secondary my-2 my-sm-0 " type="submit">Search</button>
            </form>


            <select id="val">
                <option value="sop:ВС">ВС</option>
                <option value="sop:ит">ит</option>
                <option value="sop:МС">МС</option>
                <option value="sop:ПТ">ПТ</option>
                <option value="sop:ЭФ">ЭФ</option>
            </select>
            <div id="answer"></div>
            <br> <select id="val2">
                <option value="11">11</option>
                <option value="22">22</option>
                <option value="33">33</option>
            </select>

            <script>
            var selVal = document.getElementById('val')
            selVal.onchange = function () {
            	//alert(selVal.value)
            	
                    fetch("http://localhost:8080/searchq2/?value=" + selVal.value, {
                        credentials: 'same-origin',
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        }
                    }).then(response => response.json())
                        .then(products => {
                            console.log("input.value: " + products);
                            
                            var selVal2 = document.getElementById('val2');
                            for (let i = 0; i < products.length; i++) {
                            	var ii=products[i];
                            	//alert(ii);
                            	document.getElementById('val2').options[i].value=ii;
                                document.getElementById('val2').options[i].text=ii;
                            }
                            	
                        }).catch(err => {
                        console.log("Error Reading data " + err);
                    });
        }
            </script>

            <script>
            async function search(input) {

                fetch("http://localhost:8080/searchq2/?value=" + input.value, {
                    credentials: 'same-origin',
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                }).then(response => response.json())
                    .then(products => {
                        //title
                        //alert("input."+input.value);
                        console.log("input.value: " + products);
                        // alert(products.length);
                        document.getElementById("results").innerHTML = '';
                        for (var i of products) {
                           //alert("name: "+i);
                            // alert("name: "+i.platforms.imagesT.name);
                            var optionElement = document.createElement("option");
                            optionElement.value = i;
                            // alert("m:"+i);
                            document.getElementById("results").appendChild(optionElement);
                        }
                    }).catch(err => {
                    // alert("err");
                    // Do something for an error here
                    console.log("Error Reading data " + err);
                });

            }
        </script>


            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
            <script type="text/javascript"> $(".livesearch").chosen(); </script>

        </div>
    </div>
</body>
</html>